
<h1>Tu carrito</h1>
<a href="/">Inicio</a>
<ul>
    {{#each cart.products}}
    <li>
        <h2>{{this.product.name}}</h2>
        <p>Precio: ${{this.product.price}}</p>
        <p>Cantidad: {{this.quantity}}</p>
        <form action="/carts/remove/{{this.product._id}}" method="POST">
            <button type="submit">Eliminar</button>
        </form>
    </li>
    {{/each}}
</ul>
