<div>
    <h1>Lista de Productos en Tiempo Real</h1>
    <ul id="productList"></ul>

    <h2>Agregar Producto</h2>
    <form id="productForm">
        <input type="text" id="name" placeholder="Nombre" required>
        <input type="number" id="price" placeholder="Precio" required>
        <input type="number" id="stock" placeholder="Stock" required>
        <button type="submit">Agregar</button>
    </form>
</div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/script.js"></script>
